* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(103, 172, 255);
}

.App {
  height: 100vh;
  margin-top: 50px;
  text-align: center;
}

li {
  list-style: none;
}

.search-form {
  margin-bottom: 20px;
}

input {
  width: 60%;
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgb(176, 206, 250);
}


.todo-item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgb(176, 206, 250);
}